 {% if current %}
              {% extends "templateAng.html" %}
{% else %}
              {% extends "template.html" %}
              {% endif %} 

{% block title %}Accueil{% endblock %}



{% block main %}
{% if current %}
            

<div id="calendar">
</div>


<div class="modal fade" id="ModalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      <form class="form-horizontal" method="POST" action="/ajouter">
      
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Add Event</h4>
        </div>
        <div class="modal-body">
          
            <div class="form-group">
              <label for="title" class="col-sm-2 control-label">Title</label>
              <div class="col-sm-10">
                <input type="text" name="title" class="form-control" id="title" placeholder="Title" required>
              </div>
            </div>
            <div class="form-group">
              <label for="color" class="col-sm-2 control-label">Color</label>
              <div class="col-sm-10">
                <select name="color" class="form-control" id="color">
                    <option value="">Choose</option>
                    <option style="color:#0071c5;" value="#0071c5">&#9724; Dark blue</option>
                    <option style="color:#40E0D0;" value="#40E0D0">&#9724; Turquoise</option>
                    <option style="color:#008000;" value="#008000">&#9724; Green</option>						  
                    <option style="color:#FFD700;" value="#FFD700">&#9724; Yellow</option>
                    <option style="color:#FF8C00;" value="#FF8C00">&#9724; Orange</option>
                    <option style="color:#FF0000;" value="#FF0000">&#9724; Red</option>
                    <option style="color:#000;" value="#000">&#9724; Black</option>
                    
                  </select>
              </div>
            </div>
            <div class="form-group">
              <label for="start" class="col-sm-2 control-label">Start date</label>
              <div class="col-sm-10">
                <input type="text" name="start" class="form-control" id="start" readonly>
              </div>
            </div>
            <div class="form-group">
              <label for="end" class="col-sm-2 control-label">End date</label>
              <div class="col-sm-10">
                <input type="text" name="end" class="form-control" id="end" readonly>
              </div>
            </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
      </div>
    </div>
  </div>


<!-- !-->  

<div class="modal fade" id="ModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <form class="form-horizontal"  method="POST" action="/liste" >
        <!-- There is Big Problem -- the form have tow method only POST AND GET -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel2">Modifier Event</h4>
      </div>
      <div class="modal-body">

         
                <input type="hidden" name="EventID" class="form-control" readonly id="EventID" placeholder="" required>
              

        
          <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
              <input type="text" name="title" class="form-control" id="title" placeholder="Title" required>
            </div>
          </div>
          <div class="form-group">
            <label for="color" class="col-sm-2 control-label">Color</label>
            <div class="col-sm-10">
              <select name="color" class="form-control" id="color">
                  <option value="">Choose</option>
                  <option style="color:#0071c5;" value="#0071c5">&#9724; Dark blue</option>
                  <option style="color:#40E0D0;" value="#40E0D0">&#9724; Turquoise</option>
                  <option style="color:#008000;" value="#008000">&#9724; Green</option>						  
                  <option style="color:#FFD700;" value="#FFD700">&#9724; Yellow</option>
                  <option style="color:#FF8C00;" value="#FF8C00">&#9724; Orange</option>
                  <option style="color:#FF0000;" value="#FF0000">&#9724; Red</option>
                  <option style="color:#000;" value="#000">&#9724; Black</option>
                  
                </select>
            </div>
          </div>
          <div class="form-group">
            <label for="start" class="col-sm-2 control-label">Start date</label>
            <div class="col-sm-10">
              <input type="text" name="start" class="form-control" id="start" readonly>
            </div>
          </div>
          <div class="form-group">
            <label for="end" class="col-sm-2 control-label">End date</label>
            <div class="col-sm-10">
              <input type="text" name="end" class="form-control" id="end" readonly>
            </div>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Update changes</button>
      </div>
    </form>
    </div>
  </div>
</div>
{% else %}
<div class="reveal">
			<div class="slides">
				<section>Présentation du projet</section>
				<section>Calendrier</section>
        <section>
			        <section>Vertical Slide 1</section>
			        <section>Vertical Slide 2</section>
          
          
		    </section> 
        <section>Présentation des fonctionnalités du site</section>
        <section>Fin</section>
			</div>
		</div>

{% endif %}   

{% endblock %}