
{% extends "templateAng.html" %}

{% block title %}Index{% endblock %}

{% block main %}
	<div class="row">
       <div class="col-md-7 ">

<div class="panel panel-default">
  <div class="panel-heading">  <h4 >User Profile</h4></div>
   <div class="panel-body">
       
    <div class="box box-info">
        
            <div class="box-body">
                     <div class="col-sm-6">
                     <div  align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive"> 
                
                <input id="profile-image-upload" class="hidden" type="file">
<div style="color:#999;" >click here to change profile image</div>
                <!--Upload Image Js And Css-->
                     </div>
              <br>
              <!-- /input-group -->
            </div>
            <div class="col-sm-6">
            <h4 style="color:#00b1b1;">{{ current.username }}</h4></span>
           
  <span class="visible-lg-block">{% if 1 <= current.accessLevel %}✔{% else %}✘{% endif %} Création</span></div>
      <span class="visible-lg-block"> {% if 2 <= current.accessLevel %}✔{% else %}✘{% endif %} Modification</span>
     </div><span class="visible-lg-block"> {% if 3 <= current.accessLevel %}✔{% else %}✘{% endif %} Suppresion</span>
  </div><span class="hidden-lg-block"> {% if 4 <= current.accessLevel %}✔{% else %}✘{% endif %} Administration</span></div>
            
            <div class="clearfix"></div>
            <hr style="margin:5px 0 5px 0;">
    
              
<div class="col-sm-5 col-xs-6 tital " >User Name:</div><div class="col-sm-7 col-xs-6 ">{{ current.username }}</div>
     <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >Email :</div><div class="col-sm-7"> {{ current.email }}</div>
  <div class="clearfix"></div>
<div class="bot-border"></div>

          <!-- /.box -->

        </div>
       
            
    </div> 
    </div>
</div>  
    <script>
              $(function() {
    $('#profile-image1').on('click', function() {
        $('#profile-image-upload').click();
    });
});       
              </script> 
       {% endblock %}