{% extends "template.html" %}

{% block title %}Register{% endblock %}

{% block main %}
 <div class="account-wall">
        <div id="my-tab-content" class="tab-content">
<form method="post" id="register">
 
    <table class="table table-responsive">
 
        <tr>
            <td class="width-30-percent">User Name</td>
            <td><input type="text" name="username" class="form-control" required value="" /></td>
        </tr>
 
        <tr>
            <td>Email</td>
            <td><input type="email" name="email" class="form-control" required value="" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password" class="form-control" required id="passwordInput"></td>
        </tr>
      <tr>
            <td>Password Confirmation</td>
            <td><input type="password" name="passwordverify" class="form-control" required id="passwordInputV"></td>
        </tr>
 
        <tr>
            <td></td>
            <td>
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span> Register
                </button>
            </td>
        </tr>
 
    </table>
</form>
   </div>
</div>
{% endblock %}